@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(ubuntu.woff) format('woff');
}

body {
	text-align: center;
	font-family: "Ubuntu", sans-serif;
	color: #333;
	margin: 0;
	-webkit-text-size-adjust:none;
	font-size: 62.5%;
}

#message {
	color: black;
	font-size: 2em;
}

a {
	font-weight: bold;
}

a:visited {
	color: blue;
}

a:active {
	color: blue;
	border: 0;
	text-shadow: 0px 0px 10px #7DA4FF;
}

h3.errorMessage {
	padding-left: 30px;
}

#headerContainer {
 	background: #1975FF;
}

#logoAndHeader {
	width: 1000px;
	margin: 0 auto;
}

#logo {	
	float:left;	
	/*padding-top: 10px;*/
}

#header {
	float:left;		
	text-align: left;		
}

#headerSeparator {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	height: 10px;
	background: #CCC
}

#sitetitle {
	float: left;
	padding: 5px 44px 15px 44px;	
}

#sitetitle h1 {
	margin: 0;
	float: left;
	font-weight: bold;
	font-size: 4.5em;
	letter-spacing: -2px;	
	color:#222;
}

#sitetitle h2 {
	padding-top: 14px;
	float: left;
	margin: 0;
	font-weight: bold;
	font-size: 2.8em;
	letter-spacing: -1px;
	padding-left: 15px;
}

.menubar {
	position: relative;
	top: 1px;
	font-size: 1.65em;
	width: 811px;
	margin: 0 auto;
	text-shadow:2px 2px 5px #999;
	font-weight: bold;
}

.menubar .menuitem {
	width: 197px;
	height: 20px;
	float: left;
	text-align: center;
	margin-left: 5px;
	padding: 6px 0;	
	cursor: pointer;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	background-color:#ededed;		
}

.menubar .menuitem:first-child {
	margin-left: 0;
} 

.menubar .menuitem:hover {	
	background-color:#79bbff;
	border-bottom: 2px solid #9CC7F3;
}

.menubar .menuitem:active {
	background-color:#378de5;
	border-bottom: 2px solid #71A9E2;
}

#content {
	margin: 0 auto;
	width: 810px;
	overflow: hidden;
}

#login_pswd {
	float: left;
	padding: 0 100px;
}

#login_idcard {
	float:left;
	padding: 0 60px;
}

#testtext {
	padding: 40px;
}

#idCardPic {
	background:transparent url('images/idkaart.gif') no-repeat;
	cursor:pointer;
	width: 88px;
	height: 31px;
	border: none;
	text-indent: -1000em;
}

.inputBoxWithLabel {
	display: block;
	padding-bottom: 20px;
}

.label {
	width: 90px;
	float: left;
}

.boldLabel {
	float: left;
	font-weight: bold;
	padding: 10px 0;
}

.submitButton {
	float:right;
	height: 35px;
	width: auto;
	font-family: Ubuntu, sans-serif;
	font-weight: bold;
	color: #333;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	font-size: 1em;
	border: 0;

	background-color:#ededed;		
    cursor: pointer;
}

.submitButton:visited  {
	border: 0;
}

#footer {
	color: #666;
	padding: 7px 0;
	margin: 0 auto;
	height: 19px;
	border-top: 1px solid #CCC;
	font-size: 1.3em; 
}

.tab {
	text-align: left;
	overflow: hidden;
	visibility: hidden;
	height: 0px;
	opacity:0;
	transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	-moz-transition: visibility 0s linear 0.5s,opacity 0.5s linear; /* Firefox 4 */
	-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear; /* Safari and Chrome */

}

.tabHeader {
	width: 740px;
	font-size: 1.6em;
	margin: 0 30px;
	padding: 0 5px;
}

.tabContents {
	width: 780px;
	font-size: 1.6em;
	margin: 10px;
	padding: 5px;
}

.tabNameLabel {
	padding: 15px 30px;
	font-size: 3em;
	font-weight: bold;
}

.tabNameLabelsMultiple {
	padding: 20px 0;
	margin: 0 auto;
	font-size: 1.6em;
	text-align: center;
	font-weight: bold;
}

.tabNameLabelsMultiple .selected {
	color: black;
	text-decoration: none;
}

.logoutSection {
	font-weight: normal;
	font-size: 15px;
	float: right;
	padding-right: 30px;
}

.labelFloating {
	float: left;
}

.myDataInfoSection {
	float: left;
	padding-left: 43px; 
}

.myDataInfo {
	float: left;
}

.myDataPhoto {
	float: left;
}

.myDataInfoNameAndValue {
	font-weight: 500;
	padding-bottom: 30px;
	padding-left: 38px;
}

.myDataInfoNameAndValue a {
	float: left;
}

.myDataInfoName {
	font-weight: bold;
	float: left;
	width: 170px;
}

.myDataInfoValue {
	float: left;
	color:black;
}

.myDataPhoto img {
	float:left;
	width: 120px;
	height: 120px;
}

.myDataChangePasswordSection {
	padding-top: 20px;
	padding-left: 50px;
	float:left;
}

.myDataChangePasswordSection .label {
	width: 150px;
}

.myDataChangePasswordSection h3 {
	margin: 0;
	padding-bottom: 15px;
}

.myDataChangePasswordSection .inputBoxWithLabel {
	padding-bottom: 12px;
}

#changePasswordForm {
	float:left;
}

#applicationForm {
	padding: 0px 40px;
}

#toSetRegionLink {
	padding-left: 15px;
}

.setRegionSection {
	padding-top: 100px;
	padding-left: 100px;
}

#setRegionErrorMessage {
	float: right;
	padding-right: 100px;
}

#toVotingLink {
	margin-left:15px;
}

#uploaderDragDrop {
	float: left;
	border: 1px solid black;
}

.dropbox {
	float: left;
	padding: 10px;
}

.smallText {
	float: left;
	font-size: 0.75em;
}

.buttons {
	padding-right: 100px;
	padding-top: 100px;
}

.buttonContainer {
	float: right;
	padding-left: 50px;
}

.FaqSection {
	font-size: 1.15em;
	padding-left: 20px;
}

.visible {
	visibility: visible;
	opacity:1;
	height: auto;
  	transition-delay:0s;
  	-moz-transition-delay:0s; /* Firefox */
  	-webkit-transition-delay:0s; /* Safari and Chrome */
}

.clear {
	clear: both;
}

.displayNone {
	display: none;
}

.errorMessage {
	color: #F52A2A;	
}

.templateContainer {
	display: none;
}

.statsSortingBar {
	text-align: center;
	padding-bottom: 5px;
	font-size: 15px;
}

.statsSortingBar span {
	font-size: 20px;
	font-weight: bold;
	color: #002288;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #dddddd;
}

.primarySortMethod {
	border: 1px solid #000000 !important;
	background: #cccc88;
}

.secondarySortMethod {
	border: 1px solid #777777 !important;
	background: #e7e7a4;
}

.tertiarySortMethod {
	border: 1px solid #bbbbbb !important;
	background: #f8f8bb;
}

.candidateForVoting {
	width: 750px;
	height: 80px;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.candidateForVoting .photo {
	width: 70px;
	height: 70px;
	padding: 5px;
	float: left;
}

.candidateForVoting .photo img {
	width: 70px;
	height: 70px;
}

.candidateForVoting .info {
	width: 450px;
	height: 80px;
	float: left;
}

.candidateForVoting .nameAndVotes {
	width: 450px;
	height: 50px;
}

.candidateForVoting .candidateName {
	width: 350px;
	height: 44px;
	float: left;
	font-size: 2em;
	padding-top: 6px;
	font-weight: bold;
}

.candidateForVoting .voteCount {
	width: 100px;
	height: 30px;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	padding-top: 10px;
}

.candidateForVoting .partyInfo {
	width: 450px;
	height: 30px;
}

.candidateForVoting .partyLogo {
	height: 26px;
	width: 26px;
	padding: 2px;
	float: left;
}

.candidateForVoting .partyLogo img {
	height: 26px;
	width: 26px;
}

.candidateForVoting .partyName {
	width: 408px;
	padding-left: 6px;
	float: left;
	font-size: 1.5em;
}

.candidateForVoting .action {
	width: 188px;
	padding: 11px;
	float: left;
}

.candidateForVoting form {
	margin: 0;
	padding: 0;
}

.candidateForVoting .submitButton {
	width: 180px;
	height: 60px;
}

.regionForStats {
	width: 750px;
	height: 25px;
	border: 2px solid black;
	border-radius: 3px;
	margin-bottom: 3px;
	margin-left: 10px;
}

.regionForStats.combined {
	background: #44ccff;
}

.regionForStats .regionName {
	width: 282px;
	height: 25px;
	overflow: hidden;
	float: left;
	font-size: 1.125em;
	font-weight: bold;
	padding-left: 10px;
}

.regionForStats .regionCandidateCount {
	width: 200px;
	height: 25px;
	overflow: hidden;
	float: left;
	font-size: 1.125em;
}

.regionForStats .regionVoterCount {
	width: 200px;
	height: 25px;
	overflow: hidden;
	float: left;
	font-size: 1.125em;
}

.regionForStats .regionPartyStats {
	margin: 0 2px;
	width: 25px;
	height: 25px;
	float: left;
	background: #cccccc;
}

.regionForStats .regionCandidateStats {
	margin: 0 2px;
	width: 25px;
	height: 25px;
	float: left;
	background: #cccccc;
}

.candidateForStats {
	width: 750px;
	height: 25px;
	border: 2px solid black;
	border-radius: 3px;
	margin-bottom: 3px;
	margin-left: 10px;
}

.candidateForStats .candidatePhoto, .candidateForStats .partyLogo {
	margin: 1px 2px;
	width: 23px;
	height: 23px;
	float: left;
	display: block;
}

.candidateForStats .candidateName {
	width: 190px;
	height: 25px;
	overflow: hidden;
	float: left;
	padding-left: 5px;
	font-size: 1.0625em;
	font-weight: bold;
}

.candidateForStats .partyName {
	width: 240px;
	height: 25px;
	overflow: hidden;
	float: left;
	font-size: 1.0625em;
}

.candidateForStats .regionName {
	width: 150px;
	height: 25px;
	overflow: hidden;
	float: left;
	font-size: 1.0625em;
}

.candidateForStats .voteCount {
	width: 100px;
	height: 25px;
	overflow: hidden;
	float: left;
	font-size: 1.0625em;
	font-weight: bold;
	text-align: right;
}

.partyForStats {
	width: 750px;
	height: 70px;
	border: 2px solid black;
	border-radius: 5px;
	margin-bottom: 3px;
	margin-left: 10px;
}

.partyForStats .logo {
	width: 64px;
	height: 64px;
	overflow: hidden;
	padding: 3px;
	float: left;
}

.partyForStats .nameAndLink {
	width: 340px;
	height: 70px;
	overflow: hidden;
	padding-left: 10px;
	float: left;
}

.partyForStats .partyName {
	line-height: 40px;
	font-size: 1.6em;
	font-weight: bold;
}

.partyForStats .candidatesLink {
	line-height: 20px;
	font-size: 1.1em;
}

.partyForStats .voteCount {
	width: 100px;
	height: 70px;
	overflow: hidden;
	font-size: 1.4em;
	line-height: 70px;
	float: left;
}

.partyForStats .votePercentage {
	width: 200px;
	height: 70px;
	line-height: 70px;
	overflow: hidden;
	font-size: 2.5em;
	font-weight: bold;
	float: left;
	text-align: right;
}

#map_canvas { 
	height: 100%;
	width: 100%;
}

#regionViewParams {
	float: right;
}

#candidateViewParams {
	float: right;
}

#regionViewFilter , #candidateViewRegionFilter, #candidateViewPartyFilter, #candidateViewNameFilter, #partyViewRegionFilter {
	width: 170px;
}

#loaderBlock {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

#loaderBackground {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #FFF;
	opacity: 0.9;
	text-align: center;
}

#loaderImage {
	position: relative;
	margin: 0 auto;
	z-index: 2;
}

#confirmBlock {
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}

#confirmBackground {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.5;
	text-align: center;
}

#confirmBox {
	position: relative;
	border: 3px solid black;
	width: 400px;
	margin: 0 auto;
	background: #ffffff;
	z-index: 2;
}

#confirmBoxTitle {
	width: 400px;
	font-size: 3.0em;
	padding-bottom: 25px;
}

#confirmBoxMessage {
	font-size: 2.0em;	
}

#confirmBoxButtons {
	width: 400px;
	height: 70px;
}

#confirmBoxNo, #confirmBoxYes {
	float: left;
	margin: 18px;
	width: 160px;
	height: 30px;
	border: 2px solid black;
	background: #cccccc;
	font-size: 2.6em;
	cursor: pointer;
}

.greenText {
	color: #1DC223;
}

.greyText {
	color: #999;
}


/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.wrappedText {
	display: block;
	float: left;
	overflow: hidden;
}

.wrappedEtc {
	float: left;
	width: 10px;
	color: red;
}