#testerQueryType {
	width: 100px;
}

#testerQueryContents {
	width: 500px;
}

.sampleData {
	color: #c50002;
	text-decoration: none;
	padding: 5px;
}

#uploaderDragDrop {
	border: 1px solid black;
	width: 400px;
	height: 50px;
}

#uploaderFile {
	display: none;
}